.body-items-con{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.body-con{
    padding: 15px 0px;
}

.show-more{
    background-color: rgb(57, 77, 255);
    color: white;
    border: 0;
    padding: 10px 15px;
    border-radius: 19px;
    font-size: 10px;
    font-weight: 500;
}

.butt-con{
    display: flex;
    justify-content: center;
}